<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body {
            font-size: 1em !important;
            color: #000 !important;
            font-family: Arial, sans-serif !important;
        }

        div {
            display: inline-block;
            float: left;
        }
    </style>
</head>
<body>
<p>
<p>Hi <span th:text="${recipientName}"/>,</p>

<p>You requested to have your password reset to your Ruby Ride account.  To reset your password, click on the link below.</p>
<p><a th:href="'https://' + ${baseUrl} + '/changepassword/' + ${userName} + '/' + ${resetKey}">
    Click here to reset your password.
</a></p>
</p>

</body>
</html>